<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Snobify.</title>
  <link rel="stylesheet" href="/dist/css/normalize.css">
  <link rel="stylesheet" href="/dist/css/fonts.css">
  <link rel="stylesheet" href="/dist/css/app.css">
</head>
<body class="index">
<header class="header">
  <h1>
    <img class="brand-logo" src="/dist/img/snobify-logo@2x.png" alt="Snobify Logo" width="112" height="112">
    <span class="brand-text">Snobify</span>
  </h1>
  <h2>So you thought you were unique ?</h2>
</header>
<main class="main">
  <div class="small cta">
    <p>
      See how (un)popular your playlists are.
    </p>
    <p>
      <a href="{{ authorizeURL }}" class="button">
        Check your snobbiness level
      </a>
    </p>
  </div>
</main>
<p class="credits"></p>
</body>
</html>
